/* Center Box */
.center_box {
	position: absolute;
	height: 600px;
	width: 80%;
	background-color: yellow;
	left: 10%;
	top: 15%;
}

.title_box {
	position: relative;
	height: 50px;
	width: 150px;
	background-color: whitesmoke;
	left: 0px;
	top: 0px;
}

.title {
  position: absolute;
  height: 100%;
  width: 100%;
}

.name_box {
  position: relative;
  height: 100%;
  width: 100%;
}

.R_box {
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
}

.R {
  position: absolute;
  height: 100%;
  width: 100%;
}

.A_box {
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
}

.A {
  position: absolute;
  height: 100%;
  width: 100%;
}

.L_box {
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
}

.L {
  position: absolute;
  height: 100%;
  width: 100%;
}

.P_box {
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
}

.P {
  position: absolute;
  height: 100%;
  width: 100%;
}

.H_box {
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
}

.H {
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgba(17,17,17,255);}
header {
	display: flex;
	color: white;
}

canvas {
	border: 1px solid black;
}

.mainmaneheader {
	position: relative;
	align-items: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

 ul {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

 h2 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
